.carousel {
  overflow: hidden;
  position: relative;
  height: 30vw;
}

.carousel img {
  text-align: center;
  background-color: grey;
  width: 100vw;
  display: block;
}

.carousel .next, .prev {
  position: absolute;
  top: 40%;
  font-size: 2.5em;
  color: white;
  padding: 0.5em;
  background-color: rgba(0, 0, 0, 0.6);
}

.next:hover, .prev:hover {
  background-color: rgba(0, 0, 0, 1);
}

.carousel .next {
  right: 0;
  border-bottom-left-radius: 0.5em;
  border-top-left-radius: 0.5em;
}

.carousel .prev {
  border-bottom-right-radius: 0.5em;
  border-top-right-radius: 0.5em;
}

.carouselItem div {
  position: absolute;
  color: white;
  background-color: rgba(0, 0, 0, 0.6);
  top: 19.758vw;
  padding-top: 0.5em;
  padding-left: 1em;
  width: 60%
}

@media screen and (min-width: 993px) {
  .carousel-control-prev {
    max-width: 70px;
  }

  .carousel-control-next {
    max-width: 70px;
  }
}
