<div class="navbar-p">
  <a routerLink="/home">Logo</a>
  <div class="btn-search">
    <a style="float:right" routerLink="/searchPage">Buscar</a>
  </div>
  <a style="float:right" [routerLink]="['dynamicUser.html']">Usuario</a>
  <div style="float:right" class="dropdown-p">
    <button class="dropbtn">Islas
      <i class="fa fa-caret-down"></i>
    </button>
    <div class="dropdown-content">
      <a [routerLink]="['/island/El Hierro']">El Hierro</a>
      <a [routerLink]="['/island/La Palma']">La Palma</a>
      <a [routerLink]="['/island/La Gomera']">La Gomera</a>
      <a [routerLink]="['/island/Tenerife']">Tenerife</a>
      <a [routerLink]="['/island/Gran Canaria']">Gran Canaria</a>
      <a [routerLink]="['/island/Lanzarote']">Lanzarote</a>
      <a [routerLink]="['/island/Fuerteventura']">Fuerteventura</a>
      <a [routerLink]="['/island/La Graciosa']">La Graciosa</a>
    </div>
  </div>
</div>
