.card:hover {
  background-color: #FFD511;
  cursor: pointer;
}

.section {
  text-align: center;
  display: inline;
  float: right;
  width: 19%;
  margin-right: 5em;
  padding: 5em;
  position: center;
  border: 5px solid blue;
}

h3 {
  font-family: "Permanent Marker", cursive;
}

.imgSection {
  border-radius: 15px;
  max-width: 50%;
}
