<div class="flex-shrink-0 p-3 bg-white menu-filter-medium" style="width: 280px;">
  <ul class="list-unstyled ps-0">
    <li class="mb-1">
      <button class="btn btn-toggle align-items-center rounded collapsed" data-bs-toggle="collapse" data-bs-target="#category-collapse" aria-expanded="true">
        Categoría
      </button>
      <div class="collapse show" id="category-collapse">
        <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small">
          <li><label><input type="checkbox">Gastronomía</label></li>
          <li><label><input type="checkbox">Playa</label></li>
          <li><label><input type="checkbox">Senderismo</label></li>
          <li><label><input type="checkbox">Montaña</label></li>
        </ul>
      </div>
    </li>
    <li class="mb-1">
      <button class="btn btn-toggle align-items-center rounded collapsed" data-bs-toggle="collapse" data-bs-target="#island-collapse" aria-expanded="false">
        Islas
      </button>
      <div class="collapse" id="island-collapse">
        <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small">
          <li><label><input type="checkbox">El Hierro</label></li>
          <li><label><input type="checkbox">La Palma</label></li>
          <li><label><input type="checkbox">La Gomera</label></li>
          <li><label><input type="checkbox">Tenerife</label></li>
          <li><label><input type="checkbox">Gran Canaria</label></li>
          <li><label><input type="checkbox">Lanzarote</label></li>
          <li><label><input type="checkbox">Fuerteventura</label></li>
          <li><label><input type="checkbox">La Graciosa</label></li>
        </ul>
      </div>
    </li>
    <li class="mb-1">
      <button class="btn btn-toggle align-items-center rounded collapsed" data-bs-toggle="collapse" data-bs-target="#price-collapse" aria-expanded="false">
        Coste
      </button>
      <div class="collapse" id="price-collapse">
        <label>Desde:</label>
        <select>
          <option value="0">0 €</option>
          <option value="10">10 €</option>
          <option value="20">20 €</option>
          <option value="30">30 €</option>
          <option value="40">40 €</option>
          <option value="50">50 € o más</option>
        </select>
      </div>
    </li>
    <li class="mb-1">
      <button class="btn btn-toggle align-items-center rounded collapsed" data-bs-toggle="collapse" data-bs-target="#rating-collapse" aria-expanded="false">
        Valoración
      </button>
      <div class="collapse" id="rating-collapse">
        <select>
          <option value="0">0 estrellas</option>
          <option value="1">1 estrellas</option>
          <option value="2">2 estrellas</option>
          <option value="3">3 estrellas</option>
          <option value="4">4 estrellas</option>
          <option value="5">5 estrellas</option>
        </select>
      </div>
    </li>
  </ul>
</div>
