form {
  padding-bottom: 2px;
}

.profilePicture {
  display: block;
  width: 15vw;
  height: 15vw;
  line-height: 25vw;
  text-align: center;
  font-size: 0.8em;
  background-color: grey;
  border-radius: 25vw;
  margin: 4em 8vw 0;
}

.submitBtn {
  grid-column: 3 / span 2;
  grid-row: 2;
  margin: 1em 8vw 4em;
}
