<aside class="verticalNavBar">
  <h4>Categorías</h4>
  <ul>
    <li><a routerLink="/searchPage">Montaña</a></li>
    <li><a routerLink="/searchPage">Playa</a></li>
    <li><a routerLink="/searchPage">Senderismo</a></li>
    <li><a routerLink="/searchPage">Gastronomía</a></li>
    <li><a routerLink="/searchPage">Eventos</a></li>
  </ul>

  <h4>Islas Canarias</h4>
  <ul>
    <li><a href="dynamicIsland.html">Tenerife</a></li>
    <li><a href="dynamicIsland.html">La Palma</a></li>
    <li><a href="dynamicIsland.html">La Gomera</a></li>
    <li><a href="dynamicIsland.html">El hierro</a></li>
    <li><a href="dynamicIsland.html">Fuerteventura</a></li>
    <li><a href="dynamicIsland.html">Lanzarote</a></li>
  </ul>

</aside>
